div.grass {
  background-color: #008000 !important;
}
div.water {
  background-color: #0000ff !important;
}
div.fire {
  background-color: #ff0000 !important;
}
div.electric {
  background-color: #ffd700 !important;
  color: black !important;
}
div.fighting {
  background-color: #a52a2a !important;
}
div.psychic {
  background-color: #d87093 !important;
}
div.flying {
  background-color: #6a5acd !important;
}
div.poison {
  background-color: #800080 !important;
}
div.bug {
  background-color: #808000 !important;
}
div.ground {
  background-color: #e0c067 !important;
}
div.fairy {
  background-color: #ee99ac !important;
}
div.rock {
  background-color: #b8a037 !important;
}
div.steel {
  background-color: #808080 !important;
}
div.ghost {
  background-color: #705898 !important;
}
div.ice {
  background-color: #e0ffff !important;
  color: black !important;
}
div.dragon {
  background-color: #7038f8 !important;
}
div.dark {
  background-color: #000000 !important;
}
div.normal {
  background-color: #a8a878 !important;
}
div.content a {
  text-decoration: none !important;
  color: #000 !important;
}
div.content a.dark {
  color: #fff !important;
}
div.content a.water {
  color: #fff !important;
}
